name: Build_Test
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.x'
      - run: go get dagger.io/dagger@latest
      - run: go run ci/test_on_push.go
