name: Build_Test_Release
on:
  push:
    tags:
      - 'v*'

jobs:
  build_test_release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Auto Changelog
        uses: ardalanamini/auto-changelog@v4.0.1
        id  : changelog
        with:
          github-token            : ${{ secrets.GITHUB_TOKEN }}
          commit-types            : |
            feat: New Features
            fix: Bug Fixes
            build: Build System & Dependencies
            perf: Performance Improvements
            docs: Documentation
            test: Tests
            refactor: Refactors
            chore: Chores
            ci: CI
            cd: CD
            style: Code Style
            revert: Reverts
      - name: Put changelog into file
        run: touch changelog.txt && echo $changelog > changelog.txt && cat changelog.txt
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.x'
      - name: Install dependencies
        run: go get ./src
      - name: Build Linux
        run: go build -C ./src -o ../tech_radar_lin
      - name: Test with the Go CLI
        run: go test ./test
      - name: Build Mac
        run: env GOOS=darwin GOARCH=amd64 go build -C ./src -o ../tech_radar_mac
      - name: Build Win
        run: env GOOS=windows GOARCH=amd64 go build -C ./src -o ../tech_radar.exe
      - name: publish project
        shell: bash
        run: |
            ls -la
            tag=$(git describe --tags --abbrev=0)
            #linux build
            release_name_linux="Tech_Radar-$tag-linux"
            
            tar -czvf "${release_name_linux}.tar.gz" ./tech_radar_lin
            
            #windows build
            release_name_win="Tech_Radar-$tag-win"
            tar -czvf "${release_name_win}.tar.gz" ./tech_radar.exe
            
            #mac build
            release_name_mac="Tech_Radar-$tag-mac"
            tar -czvf "${release_name_mac}.tar.gz" ./tech_radar_mac
          
      - name: Release project
        uses: softprops/action-gh-release@v1
        with:
          body_path: changelog.txt
          files: "*.tar.gz"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            