name: Build_Test
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21.x'
      - run: go work init ./ci ./src ./test
      - run: cd ./ci && go get dagger.io/dagger@latest && cd ..
      - run: go run ./ci/test_on_push.go
